# Cosmic API credentials
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=6aba18c378d5b7742705a64b
COSMIC_READ_KEY=your-read-key

# Cosmic Insights
COSMIC_INSIGHTS_PROJECT=6a3630395b2ac5cef3df9053
NEXT_PUBLIC_COSMIC_INSIGHTS_PROJECT=6a3630395b2ac5cef3df9053
